testContenuCDA/schematrons/include/entrees/E_familyHistoryOrganizer_fr.sch

<?xml version="1.0" encoding="UTF-8"?>

<!--                  -=<<o#%@O[ E_familyHistoryOrganizer_int.sch ]O@%#o>>=-
    
    Teste la conformité de l'élément "PCC Family History Organizer" (1.3.6.1.4.1.19376.1.5.3.1.4.15)
    aux spécifications d'IHE PCC v5.0
    
    Historique :
    24/07/2017 : LBE : Création
    
-->

<!--  IHE PCC Family History Organizer: 1.3.6.1.4.1.19376.1.5.3.1.4.15 -->

<!-- errors -->

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="E_familyHistoryOrganizer_fr">
    
    <title>IHE PCC Family History Organizer - errors validation phase</title>
    
    <rule context='*[cda:templateId/@root="1.3.6.1.4.1.19376.1.5.3.1.4.15"]'>
        
       
        
    </rule>
</pattern>

